<layout name="../../../Public/master" />
<block name="content">
    <form action="" method="post">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th class="active" colspan="10">温馨提示</th>
            </tr>
            <tr>
                <td colspan="10">开发纯属兴趣 禁止用于商业 拒绝盗版</td>
            </tr>
            <tr>
                <th class="active" colspan="10">开发者信息</th>
            </tr>
            <tr>
                <td>开发者</td><td colspan="5">饶鸿华</td>
            </tr>
            <tr>
                <td>反馈邮箱</td><td colspan="5">raohonghua@foxmail.com</td>
            </tr>
            <tr>
                <td>WeChat</td><td colspan="5">hua706805346</td>
            </tr>
            <tr>
                <td>QQ</td><td colspan="5">706805346</td>
            </tr>
            <tr>
                <td>运行环境</td><td colspan="5"><?php echo PHP_OS;?></td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>
</block>