/*header开始*/
.header {
    padding: 15px 0 10px;
}
#logo-2 {
    float: left;
    position: relative;
    width: 270px;
    height: 60px;
    padding: 0;
    z-index: 12;
}
#logo-2 .logo {
    display: block;
    width: 270px;
    height: 60px;
    background: url("../images/myCart/logo-201305.png") no-repeat 0 0;
    text-indent: -20000px;
}
#logo-2 .link2 {
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 99em;
    top: 8px;
    right: 0;
    background: #fff;
}
#logo-2 .link2 b {
    display: block;
    position: absolute;
    width: 100px;
    height: 40px;
    line-height: 99em;
    top: 0;
    right: 0;
    background: url("../images/myCart/cart-icon.png") #fff no-repeat;
}
.cart-search {
    float: right;
    border: 2px solid #c91623;
    background: #c91623;
    height: 24px;
    margin-top: 20px;
    overflow: hidden;
}
.cart-search .itxt {
    border: 0;
    height: 18px;
    line-height: 18px;
    width: 260px;
    padding: 3px 5px;
}
.header .btn-img, .header .button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
}
.cart-search .button {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 24px;
    background: #c91623;
    text-align: center;
    color: #fff;
    font-weight: 700;
    -webkit-appearance: none;
}
/*header结束*/


/*分类购物车枚举开始*/
.cart-filter-bar {
    margin-top: 10px;
}
.cart-filter-bar .switch-cart {
    float: left;
    position: relative;
    height: 26px;
    overflow: hidden;
}
.cart-filter-bar .switch-cart li {
    float: left;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 0 10px;
    cursor: pointer;
    margin: 5px 30px 0 0;
}
.cart-filter-bar .switch-cart li.curr, .cart-filter-bar .switch-cart li.curr a {
    color: #e4393c;
}
.cart-filter-bar .switch-cart li .number {
    font-size: 14px;
}
.cart-filter-bar .switch-cart li {
    float: left;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 0 10px;
    cursor: pointer;
    margin: 5px 30px 0 0;
}
.cart-filter-bar .switch-cart li a {
    color: #333;
}
.cart-store {
    position: relative;
    z-index: 5;
    display: block;
    margin-bottom: 10px;
    padding-left: 122px;
}
.cart-filter-bar .cart-store {
    float: right;
    font-size: 12px;
}
.cart-store .label {
    float: left;
    line-height: 26px;
}
#jdarea {
    position: relative;
    float: left;
    z-index: 3;
    height: 26px;
    cursor: default;
    margin: 0;
}
.ui-area-wrap .ui-area-text-wrap {
    float: left;
    position: relative;
    top: 0;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 24px 0 4px;
    line-height: 23px;
    overflow: hidden;
}
.ui-area-wrap.ui-area-hover .ui-area-text-wrap {
    z-index: 1;
    height: 25px;
    border-bottom: 0;
}
.ui-area-wrap .ui-area-text-wrap b {
    display: block;
    position: absolute;
    top: 3px;
    right: 4px;
    width: 17px;
    height: 17px;
    background: url("../images/myCart/arrow-sprite.png") no-repeat 3px 5px;
    overflow: hidden;
}
.cart-filter-bar .w-line {
    position: relative;
    height: 1px;
    background: #e0e0e0;
}
.cart-filter-bar .w-line .floater {
    position: absolute;
    height: 2px;
    background: #e4393c;
    left: 0;
    width: 80px;
    overflow: hidden;
}
.cart-warp {
    background: #fff;
    margin-bottom: 20px;
}
.cart-main .cart-thead {
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
    position: relative;
    font-size: 12px;
    color: #666666;
}
.cart-main .cart-thead .column {
    float: left;
}
.cart-main .cart-thead .t-checkbox {
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}
.cart-checkbox {
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.cart-main .jdcheckbox, .cart-main .jdradio {
    float: none;
    position: relative;
    z-index: 5;
    vertical-align: middle;
    margin: 0 3px 0 0;
    padding: 0;
}
.cart-main-new .cart-thead .t-goods {
    width: 208px;
}
.cart-main .cart-thead .t-props {
    width: 140px;
    height: 32px;
    padding: 0 20px;
}
.cart-main .cart-thead .t-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
}
.cart-main .cart-thead .t-quantity {
    width: 80px;
    text-align: center;
}
.cart-main .cart-thead .t-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
}
.cart-main .cart-thead .t-action {
    width: 75px;
}
.cart-main .cart-thead:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cart-item-list {
    margin-bottom: 20px;
}
.cart-tbody .shop {
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    font-weight: 700;
}
.cart-tbody .shop .shop-txt {
    float: left;
    width: 42%;
    font-size: 12px;
    color: #666;
}
.item-list {
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}
.cart-tbody .item-full {
    position: relative;
    background: url("../images/myCart/cart-line-02.png") -9px 0 repeat-y;
}
.item-list .item-full:first-child, .item-list .item-single:first-child, .item-list .item-suit4full:first-child, .item-list .item-suit:first-child {
    border-top: 0;
}
.cart-tbody .item-header {
    padding: 5px 10px;
    line-height: 26px;
    color: #999;
    display: block;
}
.cart-tbody .item-full .item-header {
    background: #fff;
    position: relative;
    z-index: 2;
    height: 26px;
}
.cart-tbody .item-header .f-txt {
    float: left;
    width: 750px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cart-tbody .item-header .full-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #f48719;
    border: 1px solid #f48719;
    color: #fff;
    padding: 1px 10px;
    height: 16px;
    line-height: 16px;
    margin: 0 10px 0 5px;
}
.cart-tbody .item-header .full-gray-icon {
    background: #fff;
    color: #f48719;
    border: 1px solid #f48719;
}
.cart-tbody .item-header .full-icon b {
    display: block;
    position: absolute;
    width: 5px;
    height: 6px;
    left: -1px;
    bottom: -5px;
    background: url("../images/myCart/cart-line-02.png") 0 0 no-repeat;
    overflow: hidden;
}
.cart-tbody .item-header .full-gray-icon b {
    width: 5px;
    height: 6px;
    left: -1px;
    border: 0;
    bottom: -5px;
    background: url("../images/myCart/cart-line-02.png") 0 -7px no-repeat;
    overflow: hidden;
}
.cart-tbody .item-header .f-price {
    float: left;
    min-width: 100px;
    text-align: right;
    line-height: 13px;
    color: #333;
}
.cart-tbody .item-header .f-price strong {
    color: #333;
    font-weight: 400;
}
.cart-tbody .item-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cart-tbody .item-item {
    position: relative;
    padding: 0 10px 1px 40px;
    border-top: 1px solid #c5c5c5;
    line-height: 20px;
    _height: 116px;
    background: #fff;
}
.cart-tbody .item-full .item-item {
    border: 0;
}
.cart-tbody .item-item .item-form {
    display: block;
}
.cart-tbody .item-full .item-form {
    border-top: 1px solid #f1f1f1;
}
.cart-tbody .item-item .cell {
    float: left;
    padding: 15px 0 10px;
}
.cart-tbody .item-item .p-checkbox {
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 0;
    width: 30px;
    min-height: 10px;
}
.cart-tbody .item-full .line-circle {
    display: block;
    position: absolute;
    z-index: 2;
    top: -17px;
    left: 5px;
    height: 25px;
    width: 1px;
    background: url("../images/myCart/cart-line-02.png") -9px -2px repeat-y;
}
.cart-main-new .cart-tbody .item-item .p-goods {
    width: 300px;
}
.cart-tbody .item-item .goods-item {
    display: block;
}
.cart-tbody .item-item .goods-item .p-img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 10px;
    background: #fff;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.cart-tbody .item-item .goods-item .p-name {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.cart-tbody .item-item .goods-item .p-name a {
    color: #333;
}
.cart-tbody .item-item .goods-item .p-extend {
    margin-top: 2px;
}
.cart-tbody .item-item .goods-item .p-extend .promise {
    margin: 0 10px 0 0;
    display: block;
    min-height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
}
.cart-tbody .item-item .goods-item .p-extend-new .promise {
    margin: 0;
    display: block;
}
.cart-tbody .item-item .goods-item .p-extend i {
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align: middle;
    overflow: hidden;
    background: url("../images/myCart/cart-icons-201705.png") no-repeat;
}
.cart-tbody .item-item .goods-item .p-extend .return-y-icon {
    background-position: -54px -23px;
}
.ftx-08, .ftx08 {
    color: #6679b3;
}
.cart-tbody .item-item .goods-item .p-extend .promise a {
    padding: 1px 4px 0 7px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
.cart-tbody .item-item .goods-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cart-tbody .item-item .p-props {
    width: 80px;
    min-height: 10px;
    padding: 15px 20px;
}
.cart-tbody .item-item .p-props-new {
    width: 100px;
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 10px 0;
}
.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    font-size: 12px;
    color: #999;
}
.cart-main-new .cart-tbody .item-item .p-props-new, .cart-main-new .cart-tbody .item-item .p-props-new .props-txt {
    width: 160px;
}
.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}
.cart-main-new .cart-tbody .item-item .p-props-new, .cart-main-new .cart-tbody .item-item .p-props-new .props-txt {
    width: 160px;
}
.cart-tbody .item-item .p-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
}
.cart-tbody .item-item .p-price strong {
    display: block;
    color: #333;
    font-weight: 400;
}
.cart-tbody .item-item .p-price .sales-promotion {
    display: block;
    width: 53px;
    border: 1px solid #f9d2d3;
    color: #e4393c;
    height: 18px;
    text-align: left;
    line-height: 17px;
    padding: 0 15px 0 8px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    float: right;
    overflow: hidden;
    position: relative;
}
.cart-tbody .item-item .p-price .sales-promotion b {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 7px;
    height: 4px;
    margin-left: 5px;
    overflow: hidden;
    background: url("../images/myCart/cart-icons-201705.png") -82px -3px;
}
div.promotion-tips {
    margin: -1px 0 0;
    display: none;
    padding: 10px 14px 10px 10px;
    width: 276px;
    z-index: 30;
    box-shadow: 0 0 2px 2px #EEE;
    border: 1px solid #e4393c;
    background: none repeat scroll 0 0 #FFF;
    position: absolute;
    left: 831px;
    text-align: left;
}
.cart-tbody .item-item .p-quantity {
    width: 80px;
}
.cart-tbody .item-item .p-quantity .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 80px;
}
.cart-tbody .item-item .p-quantity .decrement, .cart-tbody .item-item .p-quantity .increment {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
}
.cart-tbody .item-item .p-quantity .decrement {
    float: left;
}
.cart-tbody .item-item .p-quantity .decrement.disabled, .cart-tbody .item-item .p-quantity .increment.disabled {
    cursor: not-allowed;
    color: #e9e9e9;
}
.cart-tbody .item-item .p-quantity .itxt {
    position: absolute;
    left: 17px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    color: #333;
    -webkit-appearance: none;
}
.cart-tbody .item-item .p-quantity .increment {
    float: right;
    border: 1px solid #cacbcb;
    border-left: 0;
    color: #666;
}
.ftx-03, .ftx03, .gray, .grey {
    color: #aaa;
}
.cart-tbody .item-item .p-quantity .quantity-txt {
    position: relative;
    font-size: 12px;
}
.cart-tbody .item-item .p-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
}
.cart-tbody .item-item .p-sum strong {
    color: #333;
    font-weight: 700;
    display: block;
}
.cart-tbody .item-item .p-ops {
    width: 75px;
}
.cart-tbody .item-item .p-ops a {
    color: #666;
    display: block;
}
.cart-tbody .item-item .item-form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cart-toolbar {
    height: 50px;
    border: 1px solid #f0f0f0;
    background: #fff;
    position: relative;
}
.toolbar-wrap {
    position: relative;
    width: 988px;
    margin: 0 auto;
}
.toolbar-wrap .options-box {
    position: relative;
    height: 50px;
}
.toolbar-wrap .select-all {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 16px 0 16px 9px;
    white-space: nowrap;
}
.toolbar-wrap .toolbar-right {
    position: absolute;
    height: 52px;
    right: 0;
    top: -1px;
    width: 610px;
    font-size: 12px;
}
.toolbar-wrap .toolbar-right .normal {
    height: 52px;
}
.toolbar-wrap .toolbar-right .normal .comm-right {
    float: right;
    width: 650px;
}
.toolbar-wrap .btn-area {
    float: right;
}
.toolbar-wrap .btn-area .common-submit-btn, .toolbar-wrap .btn-area .jdInt-submit-btn, .toolbar-wrap .btn-area .submit-btn {
    display: block;
    position: relative;
    width: 96px;
    height: 52px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background: #e54346;
    overflow: hidden;
}
.toolbar-wrap .btn-area .common-submit-btn b, .toolbar-wrap .btn-area .jdInt-submit-btn b, .toolbar-wrap .btn-area .submit-btn b {
    display: block;
    position: absolute;
    width: 96px;
    height: 52px;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url("../images/myCart/cart-submit-btn.png") 0 0 no-repeat;
}
.toolbar-wrap .price-sum {
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 20px 0 10px;
    color: #666;
    width: auto;
    position: relative;
}
.toolbar-wrap .price-sum div {
    white-space: nowrap;
}
.toolbar-wrap .price-sum .txt {
    float: left;
    width: 50px;
    text-align: right;
    color: #999;
}
.toolbar-wrap .price-sum .txt-new {
    width: 50px;
}
.toolbar-wrap .price-sum .price {
    display: inline-block;
    text-align: right;
}
.toolbar-wrap .price-sum .price em {
    font-size: 16px;
    color: #e4393c;
    font-weight: 700;
}
.toolbar-wrap .price-sum .price-tips {
    vertical-align: text-bottom;
    display: inline-block;
    height: 18px;
    width: 12px;
    background: url("../images/myCart/price-tips.png") 0 0 no-repeat;
}
.price-tipsbox {
    display: none;
    position: absolute;
    top: -42px;
    left: 160px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    box-shadow: 0 0 2px #eee;
    background: #fff!important;
    border-color: #ddd!important;
}
.toolbar-wrap .price-sum div {
    white-space: nowrap;
}
.toolbar-wrap .price-sum div {
    white-space: nowrap;
}
.price-tipsbox .price-tipsbox-arrow {
    position: absolute;
    left: 50px;
    top: 30px;
    width: 18px;
    height: 10px;
    background-image: url("../images/myCart/cart-tips-arrow-down.png");
    background-repeat: no-repeat;
    background-position: 0 0!important;
    overflow: hidden;
}
.toolbar-wrap .price-sum .txt {
    float: left;
    width: 50px;
    text-align: right;
    color: #999;
}
.toolbar-wrap .price-sum .price {
    display: inline-block;
    text-align: right;
}
.toolbar-wrap .amount-sum {
    float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
    cursor: pointer;
}
.toolbar-wrap .amount-sum em {
    color: #e4393c;
    font-weight: 700;
    margin: 0 3px;
}
.toolbar-wrap .amount-sum b {
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("../images/myCart/cart-icons-2017.png") -45px -91px;
    overflow: hidden;
    vertical-align: middle;
    margin: -5px 0 0 5px;
    -webkit-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s;
}
.toolbar-wrap .amount-sum b.up {
    background-position: -45px -91px;
}


/*猜你喜欢*/
#c-tabs-new {
    overflow: visible;
}
#c-tabs-new .mt {
    margin-bottom: 10px;
}
#c-tabs-new .c-item {
    display: inline-block;
    margin-right: 35px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}
#c-tabs-new .c-item.curr {
    color: #e4393c;
    font-weight: 700;
    border-color: #e4393c;
}
#c-tabs-new .mc {
    overflow: visible;
    height: 326px;
}
#c-tabs-new .c-panel {
    position: relative;
    width: 100%;
    height: 100%;
}
#c-tabs-new .goods-list-tab {
    position: absolute;
    right: 0;
    top: -26px;
    width: 52px;
}
#c-tabs-new .goods-list-tab .s-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    background: #aaa;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#c-tabs-new .goods-list-tab .curr {
    width: 26px;
    background: #e4393c;
}
#c-tabs-new .mc {
    overflow: visible;
    height: 326px;
}
#c-tabs-new .c-panel {
    position: relative;
    width: 100%;
    height: 100%;
}
#c-tabs-new .goods-list ul {
    display: block;
    width: 100%;
    height: 100%;
}
#c-tabs-new .goods-list li {
    float: left;
}
#c-tabs-new .goods-list .item {
    position: relative;
    width: 206px;
    padding: 20px;
    background: #fff;
    margin: -1px 0 0 -1px;
    border: 1px dashed #cacaca;
    overflow: hidden;
}
#c-tabs-new .goods-list .item:hover {
    z-index: 2;
    border: 1px solid #E4393C;
}
#c-tabs-new .goods-list .p-img {
    width: 160px;
    margin: 0 auto;
}
#c-tabs-new .goods-list .p-name {
    height: 36px;
    line-height: 18px;
    margin: 5px 0;
    overflow: hidden;
}
#c-tabs-new .goods-list .p-name a {
    color: #333;
}
#c-tabs-new .goods-list .p-price {
    width: 100%;
    margin: 5px 0 2px;
    overflow: hidden;
    text-align: center;
}
#c-tabs-new .goods-list .p-price strong {
    font-size: 14px;
    color: #d91f20;
    font-weight: 400;
}
#c-tabs-new .goods-list .p-btn {
    margin: 10px 0 0;
    text-align: center;
}
#c-tabs-new .goods-list .btn-append {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #999;
    color: #666;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#c-tabs-new .goods-list .btn-append b {
    background-image: url("../images/myCart/addtocart-icons.png");
}
#c-tabs-new .goods-list .btn-append b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
}




/*分类购物车枚举结束*/