<layout name="../../../Public/master"/>
<div class="m-b-md">
    <h2 class="m-b-none">分类管理/分类列表</h2>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>分类编号</th>
                        <th>分类名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="treeData" item="v">
                        <tr>
                            <td>{$v['c_id']}</td>
                            <td>{$v['_c_name']}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{:u('admin/cate/addSon',['c_id'=>$v['c_id']])}" class="btn btn-primary">添加子分类</a>
                                    <a href="{:u('admin/cate/edit',['c_id'=>$v['c_id']])}" class="btn btn-info">编辑</a>
                                    <a href="javascript:;" onclick="del({$v['c_id']})" class="btn btn-danger">删除</a>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<div class="col-sm-12 text-right text-center-xs">
    <ul class="pagination pagination-sm m-t-none m-b-none">
        {$page}
    </ul>
</div>
<script>
    function del(c_id) {
        var obj = util.modal({
            title:'确认删除吗?',//标题
            content:'',//内容
            footer:'<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button><button type="button" class="btn btn-danger confirm" data-dismiss="modal">删除</button>',//底部
            width:600,//宽度
            events:{
                confirm:function(){
                    //哪个元素上有.confirm类，被点击就执行这个回调
                    location.href = "{:u('admin/cate/del')}" + '?c_id=' + c_id;
                }
            }

        });
        //显示模态框
        obj.modal('show');
    }
</script>

